<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Login Tests">
	<test name="p1 test">
		<groups>
			<run>
				<include name="p1">
				</include>
				<include name="p2">
				</include>
			</run>
		</groups>
		<classes>
			<class name="com.testngtutorial.MyTestNGTutorial.LoginTest">
			</class>
		</classes>
	</test>
	<test name="p2 test">
		<groups>
			<run>
				<include name="p2">
				</include>
			</run>
		</groups>
		<classes>
			<class name="com.testngtutorial.MyTestNGTutorial.LoginTest">
				<methods>
					<exclude name="FilloutPassFld"></exclude>
				</methods>
			</class>
		</classes>
	</test>
</suite>